*{
	margin: 0;
	padding: 0;
}
body{
	height: 2000px;
}
.red{
	background-color: red;
}
.btn{
	background-color: red;
	width: 200px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}
.special{
	border:1px solid blue;
	background-color: green;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
}
.my-clock,.choose{
	background-color: pink;
	text-align: center;
	width: 150px;
	height: 80px;
	line-height: 80px;
	font-Size:25px;
	border:2px solid blue;
}
.nine{
	display: inline-block;
	border: 1px solid black;
}
.one{
	background-color: pink;
	display: inline-block;
	border:1px solid black;
	height: 30px;
	width: 120px;
	line-height: 30px;
	text-align: center;
	border-width:  1px 1px 0 0;

}