*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 微软雅黑;
}
.clear{
	clear: both;
}
.toptiv{
	width:1200px;
	height: 63px;
	margin: 0 auto;
	padding-top: 12px;
	position: relative;
}
.sanjiao1{
	border-style: solid;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: #0066CC transparent transparent transparent ;
	position: relative;
	top: 3px;
}
.toptiv .elong{
	display: inline-block;
	background-image: url(../tutu/el_com.png);
	width: 130px;
    height: 48px;
    background-position: -658px 0px;
}
.toptiv .toptiv-out{
	float: right;
	width: 850px;
	height: 63px;
}
.toptiv .toptiv-1{
	float: right;
	height: 43px;
	width: 178px;
}
.toptiv .toptiv-1>i{
	/*display: inline-block;*/
	width: 41px;
	height: 43px;
	background-image: url(../tutu/el_com2.png);
	background-position: -42px 0px;
	margin-right: 12px;
	float: left;
}
.toptiv .toptiv-1 .kfdh{
	font-size: 14px;
	color: #999999;
}
.toptiv .toptiv-1 .number{
	font-size: 16px;
	color: #0066CC;
}
.toptiv .toptiv-1 .number:hover .hidden1{
	display: block;
}
.hidden1{
	border:1px solid ;
	color:#999999;
	height: 133px;
	width: 160px;
	background-color: #fff;
	position: relative;
	top: 17px;
	z-index: 9;
	padding:4px 10px;
	display: none;
}
.hidden1 li{
	list-style: none;
	padding: 5px;
}
.sanjiao3{
	float: left;
	border-style: solid;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 10px;
	border-color: transparent transparent #999999 transparent ;
	position: absolute;
	top: -20px;
	left: 35px;
}
.sanjiao4{
	float: left;
	border-style: solid;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 10px;
	border-color: transparent transparent #fff transparent ;
	position: absolute;
	top: -19px;
	left: 35px;
}
.xuxian{
	list-style: none;
	border-top: dashed 1px #999999;
}
.hidden1 p{
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}
.hidden1 p.hidden1-icon{
	margin-left: 36px;
}
.toptiv-2{
	display: inline-block;
	height: 43px;
	width: 150px;
	float: right;
	margin-right: 10px;
}
.toptiv-2>img{
	float: left;
	margin-right: 5px;
}
.toptiv-2>span{
	color: #FF6C67;
	float: left;
	font-size: 14px;
}
.toptiv-3{
	float: right;
	width: 366px;
	height: 21px;
	margin-right: 20px;
}
.sanjiao2{
	border-style: solid;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: #C5C5C5 transparent transparent transparent ;
	position: relative;
	top: 3px;
}
.toptiv-3 li{
	display: inline;
}
.toptiv-3 a{
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	margin:0 7px;
}
.toptiv-3 a:hover{
	color: #FF6C67;
}
.toptiv-3 b{
	font-size: 14px;
	display: inline-block;
	font-weight: normal;
	color: #999;
}
.out1{
	width: 100%;
	position: relative;
}
.out1-top-background{
	width: 100%;
	height: 40px;
	background-color: #2064C8
}
.out1-top{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.out1-top>span{
	float: left;
	width: 52px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background-color: #003679;
}
.out1-top-jd li{
	border-right:1px solid #3774ce;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	list-style: none;
	padding: 0px 12px;
}
.out1-top-jd li:hover{
	background-color:#0053AD;
}
.out1-top-jd li a{
	text-decoration: none;
	color: #fff;
}

.out1-top-jd li i{
	display: inline-block;
	background-image: url(../tutu/el_com.png);
}
.out1-top-jd li i.icon1{
	width: 21px;
    height: 20px;
    background-position: -509px 0px;
    position: absolute;
    top: -8px;
    left: 260px;
}
.out1-top-jd li i.icon2{
	width: 39px;
    height: 20px;
    background-position: -470px -29px;
    position: absolute;
    top: -8px;
    left: 331px;
}
.out1-top-jd li i.icon3{
	width: 39px;
    height: 20px;
    background-position: -426px -29px;
    position: absolute;
    top: -8px;
    left: 582px;
}
.out1-top-jd li i.icon4{
	width: 16px;
    height: 20px;
    background-position: -490px 0px;
    position: absolute;
    top: -8px;
    left: 648px;
}
.out1-top-dl{
	float: right;
	width: 120px;
	height: 40px;
	background-color: #003679;
	text-align: center;
}
.out1-top-dl span{
	font-size: 14px;
	color: #fff;
	margin: 0 3px;
}
.out1-top-dl>a{
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	display: inline-block;
	margin: 0 auto;
}
.out1-top-dl>a:hover{
	color: #FFFB44;
}

.hidden2{
	border:1px solid #999;
	background-color: #fff;
	width: 210px;
	height:281px;
	position: absolute;
	right: -1px;
    top: 40px;
	z-index: 999;
	display: none;
}
.out1-top-dl:hover .hidden2{
	display: block;
}
.hidden2 .icons-dl{
	display: block;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	width:180px;
	background-color: #FB8600;
	color: #fff;
	border-radius: 5px;
	text-align: center; 
	text-decoration: none;
	margin: 9px auto 0;
}
.icons-dl:hover{
	background-color: #EE6600;
}
.hidden2 a{
	font-size: 13px;
	color: #999;
	text-decoration: none;
}
.hidden2 li a:hover{
	color: #3667CD;
}
.hidden2 li{
	float: left;
	width: 70px;
	height:79px;
	list-style: none;
}
.hidden2 li i{
	display: block;
	background-image: url(../tutu/el_com.png);
	width: 34px;
    height: 33px;
    margin: 22px auto 0px;
}
.hidden2 li .icons-jd{
	background-position:-160px 211px;
}
.hidden2 a:hover .icons-jd{
	background-position: 1px 212px;
}
.hidden2 li .icons-tg{
	background-position: -225px 321px;
}
.hidden2 a:hover .icons-tg{
	background-position: -51px 322px;
}
.hidden2 li .icons-jp{
	background-position: -223px 212px;
}
.hidden2 a:hover .icons-jp{
	background-position: -53px 212px;
}
.hidden2 li .icons-hcp{
	background-position: -157px 267px;
}
.hidden2 a:hover .icons-hcp{
	background-position: 3px 267px;
}
.hidden2 li .icons-xj{
	background-position: -222px 267px;
}
.hidden2 a:hover .icons-xj{
	background-position: -54px 268px;
}
.hidden2 li .icons-qcp{
	background-position: -285px 267px;
}
.hidden2 a:hover .icons-qcp{
	background-position: -107px 267px;
}
.hidden2 li .icons-jdsc{
	background-position: -158px 324px;
}
.hidden2 a:hover .icons-jdsc{
	background-position: 2px 325px;
}
.hidden2 li .icons-wd{
	background-position: -287px 321px;
}
.hidden2 a:hover .icons-wd{
	background-position: -106px 321px;
}
.hidden2 li .icons-gr{
	background-position: -286px 212px;
}
.hidden2 a:hover .icons-gr{
	background-position: -105px 212px;
}
.out1-middle-img{
	display: block;
	height: 380px;
	width: 100%;
	min-width: 1200px;
	background-image: url(../tutu/elongbj.jpg);
	background-repeat: no-repeat;
	background-position:center;
	position: absolute;
	z-index: 1;
}
.out1-middle{
	position: relative;
	padding-top: 40px;
	height: 340px;
	width: 1200px;
	margin:auto;

}

.out1-middle-form{
	width: 600px;
	height: 300px;
	background-color: #ffffff;
	position: relative;
	z-index: 3;
}
.form-left{
	float: left;
}
.form-left div{
	font-size: 14px;
	width: 100px;
	height: 59px;
	color: #666666;
	background-color: #F3F3F3;
	border-right: 1px solid #E1E1E1;
	border-top: 1px solid #E1E1E1;
	line-height: 59px;
	cursor: pointer;
}
.form-left div.active-jd{
	background-color: #fff;
	border-right:none;
	color: #37D;
}
.form-left i{
	display: inline-block;
    width: 15px;
    height: 17px;
    background-image: url(../tutu/el_com3.png);
  	vertical-align: middle;
  	margin-left: 20px;
  	margin-right: 5px;
      
}
.form-left-jd{
	background-position: -555px -345px;
}
.form-left-jp{
	background-position: -582px -367px;
}
.form-left-hcp{
	background-position: -582px -386px;
}
.form-left-sjb{
	background-position: -582px -317px;
}
div.form-left-none{
	border-top: 0px;
}
.formright-out{
	float: right;
	width: 499px;
	height: 300px;
	position: relative;
}
.form-right{
	height: 282px;
	width:440px;
	margin: 0 auto;
}
.form-right>div{
	width: 440px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	margin-top: 18px;
}
.form-right-gnjd{
	border-bottom: 2px solid #aaaaaa;
}
.form-right-gnjd b{

	display: inline-block;
	height: 32px;
	line-height: 32px;
	width: 90px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.form-right-gnjd b:hover{
	color:  #3377DD;
}
.gnjd-b1{
	color: #3377DD;
	border-bottom: 2px solid #3377DD;
}

.gnjd-b1 i{
	display: inline-block;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent #3377DD transparent;
	position: absolute;
	bottom: 0px;
	left: 40px;
}
.form-right input{
	font-size: 15px;
	text-indent: 5px;
	height: 32px;
	border:1px solid #aaaaaa;
	border-radius: 5px;
	float: right;
	margin-left: 10px;
	outline: none;
}
.form-right-mdd input{
	width: 368px;
}
.form-right-mdd span{
	float: right;
	color: #666666;
}
.form-right-rz{
	position: relative;
}
.form-right-rz input{
	width: 158px;
}
.form-right-rz span{
	float: right;
	color: #666666;
	margin-left: 12px;
}
.form-right-rz b{
	font-weight: normal;
	color: #999;
	font-size: 10px;
	position: absolute;
}
.form-right-rz-b1{
	top: 0px;
    left: 391px;
}
.form-right-rz-b2{
	top: 0px;
    left: 182px;
}
.form-right-rz i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../tutu/el_com2.png);
	background-position:-480px -3px;
	position: absolute;
}
.form-right-rz-i1{
	top: 8px;
	left: 209px;
}
.form-right-rz-i2{
	top: 8px;
	left: 419px;

}
.form-right-gjc input{
	width: 368px;
}
.form-right-gjc span{
	float: right;
	color: #666666;
}
.form-right-dl-1{
	color: #fff;
	font-size: 16px;
	float: left;
	width: 159px;
	height: 32px;
	border-radius: 5px;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
	background-color: #FF5555;
	margin-left: 70px;
	margin-right: 10px;
}
.form-right-dl-1:hover{
	background-color: #EE5655;
}
.form-right-dl-2{
	display: inline-block;
	width: 18px;
    height: 24px;
	background-image: url(../tutu/el_com2.png);
	background-position: -432px 0px;
	vertical-align: middle;
	margin-right: 5px;
}
.form-right-dl-3{
	float: left;
	width: 93px;
	height: 30px;
	border:1px solid #666666;
	border-radius: 5px;
	color: #666666;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
}
.form-right-dl-3:hover{
	color: #fff;
	background-color: #3399FE;
	border:none;

}
.form-right-dl-3:hover i{
	background-position: -453px -26px;
}
.form-right-dl-4{
	display: inline-block;
    width: 18px;
    height: 26px;
    background-image: url(../tutu/el_com2.png);
    background-position: -454px -2px;
    vertical-align: middle;
    margin-right: 5px;
}
.out1-middle2{
	width: 1200px;
	height: 72px;
	margin: 0 auto;
	position: relative;
}
.out1-middle2>div{
	color: #666666;
	font-size: 14px;
	width: 223px;
	height: 32px;
	line-height: 30px;
	border:1px solid #666666;
	border-radius: 20px;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.out1-middle2 i{
	display: inline-block;
    width: 16px;
    height: 19px;
    background-image: url(../tutu/el_com3.png);
    background-position: -582px -14px;
    vertical-align: middle;
    margin-left: 20px;
}
.out1-middle2 a{
	text-decoration: none;
	color: #3377DD;
	margin:0 5px;
}
.out1-middle2 a:hover{
	color: #ff5555;
}
.out1-middle3{
	width: 1200px;
	height: 260px;
	margin: 0 auto;
}
.out1-middle3>a{
	float: left;
	width: 171px;
	height: 260px;
}
.out1-middle3 p{
	height: 260px;
	background-position: center;
}
.out1-middle3-p1{
	background-image: url(../tutu/1.jpg);
}
.out1-middle3-p2{
	background-image: url(../tutu/2.jpg);
}
.out1-middle3-p3{
	background-image: url(../tutu/3.jpg);
}
.out1-middle3-p4{
	background-image: url(../tutu/4.jpg);
}
.out1-middle3-p5{
	background-image: url(../tutu/5.jpg);
}
.out1-middle3-p6{
	background-image: url(../tutu/6.jpg);
}
.out1-middle3-p7{
	background-image: url(../tutu/7.jpg);
}
.out1-middle4{
	width: 1200px;
	height: 34px;
	margin: 0 auto;
	border-bottom: 2px solid #ff5555;
	padding-top: 30px;
}
.out1-middle4 a{
	color: #ff5555;
	font-size: 24px;
	text-decoration: none;
	margin-right: 6px;
}
.out1-middle4 span{
	font-size: 14px;
	color: #999999;
}
.out1-middle5{
	width: 1200px;
	height: 520px;
	margin: 0 auto;
}
.out1-middle5-1 li{
	float: left;
	height: 50px;
	width: 78px;
	list-style: none;
	position: relative;
	margin-right: 20px;
}
.out1-middle5-1  li a{
	float: left;
	font-size: 14px;
	color: #666666;
	width: 84px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	border:1px solid #fff;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto 0;
}
.a-coins:hover{
	border:1px solid #ff6666;
	border-radius: 20px;
	color: #ff6666;
}
.out1-middle5-1 a.size18{
	font-size: 18px;
	text-align: left;
}
.a-right{
	font-size: 14px;
	text-decoration: none;
	float: right;
	height: 50px;
	width: 120px;
	text-align: right;
	line-height: 50px;
	color:  #666666;
}
.out1-middle5-1 i{
	display: inline-block;
    width: 22px;
    height: 28px;
    background-image: url(../tutu/el_com3.png);
    background-position: -576px -101px;
    vertical-align: middle;
    margin-right: 5px;
}
.out1-middle5-2{
	width: 1200px;
	height: 200px;
	margin-bottom: 18px;
}
.out1-middle5-2 div{
	float: left;
	width: 292px;
	height: 198px;
	margin-right: 10px;
	border-bottom: 1px solid #D1D1D1;
}
.out1-middle5-2 div.in{
	margin-right: 0px;
}
.out1-middle5-2>div:hover{
	border-bottom: 2px solid #ff5555;
}
.out1-middle5-2>div>a{
	display: block;
	width: 292px;
	height: 160px;
	background-position: center;
}
.gna1{
	background-image: url(../tutu/11.jpg);
}
.gna2{
	background-image: url(../tutu/12.jpg);
}
.gna3{
	background-image: url(../tutu/13.jpg);
}
.gna4{
	background-image: url(../tutu/14.jpg);
}
.gna5{
	background-image: url(../tutu/15.jpg);
}
.gna6{
	background-image: url(../tutu/16.jpg);
}
.gna7{
	background-image: url(../tutu/17.jpg);
}
.gna8{
	background-image: url(../tutu/18.jpg);
}
.out1-middle5-2>div>p{
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #555555;
	background-color: #F7F7F7;
}
.out1-middle5-1 i.hw{
	background-position: -576px -131px;
}
.out1-middle6{
	width: 1200px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	border-bottom: 2px solid #4499FF; 
}
.out1-middle6 a{
	color: #4499FF;
	font-size: 24px;
	text-decoration: none;
}
.out1-middle7{
	width: 1200px;
	height: 320px;
	margin: auto;
}
.a-coins2:hover{
	border:1px solid #4499FF;
	border-radius: 20px;
	color: #4499FF;
}
.out1-middle5-1 i.jp{
	background-position: -573px -191px;
}
.out1-middle7-2 span{
	font-size: 14px;
	float: left;
	width: 198px;
	height: 98px;
	border:1px solid #D8E8FE;
	background-color: #F4F9FF;
	margin-bottom: 20px;
}
.out1-middle7-2 span:hover{
	border:1px solid #4197FE;
	height: 97px;
	border-bottom: 2px solid #4197FE;
}
.out1-middle7-2 a{
	text-decoration: none;
	color: #666666;
	position: relative;
	top: 30px;

}
.out1-middle7-2 i{
	display: inline-block;
    width: 30px;
    height: 13px;
    background-image: url(../tutu/el_com3.png);
    background-position: -568px -169px;
    margin: 0 20px 0 20px;
}
.out1-middle7-2 p{
	text-align: center;
}
.out1-middle7-2 p.xia{
	margin-top: 18px;
}
.out1-middle7-2 b.middle{
	display: inline-block;
	height: 20px;
	width: 36px;
	color: #fff;
	font-weight:normal;
	background-color: #009900;
	border-radius: 5px;
	margin-left: 8px;
	margin-right: 16px;
}
.out1-middle7-2 b.right{
	font-weight: normal;
	color: #fc6622;
}
.out1-middle7-2 b.left{
	font-weight: normal;
	font-size: 12px;
}
.out1-middle5-1 i.hcp{
	background-position: -573px -220px;
	width: 25px;
}
.out1-middle7-2 b.middle1{
	display: inline-block;
	width:60px;
	height: 1px;
}
.out1-middle7-2 i.no2{
	width: 32px;
    height: 13px;
    background-position: -527px -169px;
}
.out1-middle8{
	width: 1200px;
	height: 62px;
	margin: 0 auto;
	border-bottom: 2px solid #77CC11;
}
.out1-middle8 a{
	color: #77CC11;
    font-size: 24px;
    text-decoration: none;
}
.out1-middle9{
	width: 1200px;
	height: 250px;
	margin: 0 auto;
}
.out1-middle9-left{
	float: left;
	width: 580px;
	height: 220px;
	margin-top: 10px;
	position: relative;

}
.out1-middle9-left>a{
	display:block;
	height: 54px;
	line-height: 54px;
	width: 220px;
	text-decoration: none;
	font-size: 14px;
	color: #555555;
	text-indent: 10px;
	border-bottom: 1px solid #CCCCCC;
}
.out1-middle9-left>a.m9-a1{
	color: #fff;
	background-color:#89CA00 
}
.out1-middle9-left img{
	position: absolute;
	right: 0;
	top: 0;
}
.out1-middle9-left b{
	display: block;
	width: 0px;
	height: 0px;
	border:solid;
	border-width: 10px;
	border-color: transparent transparent transparent #89CA00;
	position: relative;
	bottom: 37px;
	left: 200px;
	z-index: 999;
	display: none;
}
b.low{
	z-index: 9;
}
.tnt{
	height: 54px;
	line-height: 54px;
	background-color: #fff;
	width: 200px;
	text-decoration: none;
	font-size: 14px;
	color: #555555;
	text-indent: 10px;
	/*border-bottom: 1px solid #CCCCCC;*/
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.m9-i2,.m9-i3,.m9-i4{
	z-index: -1;
}
.m9-a1 b{
	display: block;
}
.m9-a2:hover{
	color: #fff;
	background-color:#89CA00;
}
.m9-a3:hover{
	color: #fff;
	background-color:#89CA00; 
}
.m9-a4:hover{
	color: #fff;
	background-color:#89CA00; 
}
.m9-a2:hover .tnt{
	display: block;
}
.m9-a3:hover .tnt{
	display: block;
}
.m9-a4:hover .tnt{
	display: block;
}
.m9-a2:hover .m9-i2{
	z-index: 10;
}
.m9-a3:hover .m9-i3{
	z-index: 10;
}
.m9-a4:hover .m9-i4{
	z-index: 10;
}
.m9-a2:hover b{
	display: block;
}
.m9-a3:hover b{
	display: block;
}
.m9-a4:hover b{
	display: block;
}
.out1-middle9-right{
	float: right;
	width: 620px;
	height: 218px;
	margin-top: 10px;
}
.out1-middle9-right a{
	float: left;
	width: 290px;
	height: 218px;
	border-bottom: 1px solid #D1D1D1;
	margin-left: 20px;
	text-decoration: none;
	background-color: #F7F7F7
}
.out1-middle9-right span{
	display: block;
	color: #4499FF;
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
	font-size: 14px;
}
.out1-middle9-right a:hover{
	border-bottom: 2px solid #89CA00;
}
.out1-middle9-right a span:hover{
	color: #F55;
}
.out1-bottom1{
	height: 181px;
	width: 1200px;
	margin:0 auto;
	background-color: #F7F7F7;
}
.out1-bottom1-1{
	width: 1200px;
	height: 101px;
}
.out1-bottom1-1 div{
	float: left;
	width: 300px;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	text-indent: 20px;
	border-bottom:1px solid #D1D1D1;
}
.out1-bottom1-1 i{
	display:inline-block;
	width: 62px;
	height: 69px;
	vertical-align: middle;
	background-image: url(../tutu/el_com3.png);
	margin-right: 10px;
}
.bt1-i1{
	background-position: -90px 0px;
}
.bt1-i2{
	background-position: -158px 0px;
}
.bt1-i3{
	background-position: -227px 0px;
}
.bt1-i4{
	background-position: -294px 0px;
}
.out1-bottom1-2{
	width: 1200px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	position: relative;
}
.out1-bottom1-2 span{
	color: #71829d;
	margin-left: -138px;
	position: relative;
	top: 5px;
}
.out1-bottom1-2 form{
	display: inline-block;
	vertical-align: middle;
}
.fwxy{
	font-size: 14px;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	width: 100px;
	color: #3377DD;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.fwxy:hover{
	color: #F55;
}
.fm-btn-1{
	width: 208px;
	height: 26px;
	line-height: 26px;
	outline: none;
}
.fm-btn-2{
	display: inline-block;
	width: 80px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	background-color:#3377DD;
	vertical-align: middle;
	cursor: pointer;
}
.out1-bottom-2{
	width: 100%;
	height: 200px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #D1D1D1;
}
.out1-bottom-2-ot{
	height: 170px;
	width: 900px;
	padding: 0 150px;
	margin:0 auto;
}
.out1-bottom-2-ot div{
	float: left;
	height: 170px;
	width: 225px;

}
.bottom2-bt{
	width: 223px;
	font-size: 18px;
	border-left: 3px solid #5D96C7;
	padding-left: 10px;
	display: block;
	margin-bottom: 5px;
}
.out1-bottom-2-ot a{
	color: #333;
	font-size: 12px;
	display: block;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	margin-left: 15px;
}
.out1-bottom-2-ot a:hover{
	color: #F55;
}
.out1-bottom-2-ot i{
	display: inline-block;
	width: 96px;
	height: 96px;
	background-image: url(../tutu/el_com2.png);
	margin-top: 13px;
	margin-left: 17px;
}
.bottom2-bt-i1{
	background-position: -500px 0px;
}
.bottom2-bt-i2{
	background-position: -503px -104px;
}
.out1-bottom-3{
	width: 1200px;
	height: 110px;
	margin:0 auto;
}
.bottom-3-1{
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	font-family: arial,Verdana, Geneva, Helvetica;
	color: #131313;
	text-align: center;
}
.bottom-3-1 i{
	display: inline-block;
    width: 22px;
    height: 26px;
    vertical-align: middle;
    background-image: url(../tutu/el_com.png);
    background-position: -937px -203px;
}
.bottom-3-2{
	width: 1200px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin: 0 auto;
}
.bottom-3-2 i{
	vertical-align: middle;
	display: inline-block;
	height: 38px;
	background-image: url(../tutu/el_com.png);
	margin:0 8px;
	cursor: pointer;
	
}
.b-3-2-i1{
	width: 75px;
	background-position: -334px -435px;
}
.b-3-2-i2{
	width: 90px;
	background-position: -476px -435px;
}
.b-3-2-i3{
	width: 90px;
	background-position: -568px -435px;
}
.b-3-2-i4{
	width: 90px;
	background-position: -658px -435px;
}
.out1-bottom-4{
	width: 100%;
	height: 40px;
	background-color: #7C8FA2;
}
.bottom-4-1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: #7C8FA2;
	text-align: center;
}
.bottom-4-1 a{
	display: inline-block;
	width: 167px;
	height: 40px;
	line-height: 40px;
	text-decoration:none;
	color: #fff;
	font-size: 12px;
	font-family: arial,Verdana, Geneva, Helvetica;

}
.bottom-4-1 a:hover{
	background-color: #8CA1B4;
}
a.special{
	color:#333;
	background-color: #C0D2E4;
}




